
<html>
    <head>
    <title>Bernardlomo.me | Special promotion on websites</title>
      <!--Import Google Icon Font-->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/slick.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta property="og:title" content="Bernardlomo.me | Special promotion">
      <meta property="og:description" content="Stand a chance to get a free website for your business today!">
      <meta property="og:image" content="http://bernardlomo.me/ogee.jpg">
      <meta property="og:url" content="http://bernardlomo.me/special_promotion">
      <meta name="twitter:card" content="special_promo_image">
    </head>
<style type="text/css">

    nav {
      background: transparent;
      box-shadow: none !important;
      color: #fff;
    }

.oluwamatic{
  background: linear-gradient(
      rgba(52, 167, 229, 0.75), 
      rgba(52, 167, 229, 0.75)
    ),url(happy.jpg);
   background-repeat: no-repeat;
   height: 700px;
}

nav .centim {
  margin-left: 25%;

}

nav ul a {
  transition: background-color .3s;
  font-size: 14px;
  color: black;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}

 .oclass{
    color: #42ade7;
    font-weight: bold;
    text-transform: capitalize;
   }


   .navhov:hover{
 border-bottom: 5px solid #ddd;
 color: #42ade7; 
 background: white;
}




.navhovactive{
  border-bottom: 5px solid #42ade7;
  color: #42ade7;
 background: white;
 font-weight: bold;
}

nav {
  text-transform: uppercase;
}

nav ul a {
  transition: background-color .3s;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}


   .logomenu{
    height: 100%;
    margin-left: 20px;
   }

.gateman{
  margin-right: 50px;
}

.abth{
  color: #00b300;
  font-weight: 700;
}

.abouttx{
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
}

.abouthold{
  margin-top: 50px;
  
}
.vphold{
  padding: 50px;
}
.vpps{
  margin-top: 20px;
  border-bottom: 2px solid #ddd;
}

.whouse{
  color: #000;
  font-weight: 700;
  font-size: 18px;
}

.imglike{
  height: 150px;
}

.bigtestis{
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.sm1{
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.sm2{
  position: relative;
  top: 18px;
  margin-right: 10px;
}

.dassorsoc{
  color: #ddd;
}

.dassorsoc:hover{
  color: white;
}

.mytestimony{
  font-weight: 500;
  font-size: 17px;
}

.custtestimon{
  margin-top: 20px;
  padding-bottom: 20px;
}

.cta{
  background-color: #00b300;
  padding: 60px;
}

.constraq{
  color: #fff;
  font-weight: 700;
}

.constarc{
  color: #fff;
  font-weight: 300;
}

.dosentact{
  color: black;
  font-size: 25px;
  background-color: #fff;
}

.dosentact:hover{
  color: black;
  font-size: 25px;
  background-color: #fff;
}

.dosentact:active{
  color: black;
  font-size: 25px;
  background-color: #fff;
}

.felakuti{
margin-top: 72px;
}

.adeidos{
  background-color: #00b300;
  color: white;
  border-bottom: 3px solid #008d00;
}

.adeidos:hover{
  background-color: #00b300;
  color: white;
  border-bottom: 6px solid #008d00;
}

.adeidos:active{
  background-color: #00b300;
  color: white;
  border-bottom: 6px solid #008d00;
}

.contactinfo{
  position: relative;
  top: 30px;
}

.dazine{
  border-bottom: 3px solid #008d00;
}

.avonaki li > a, .avonaki li > span {
  font-size: 15px;
  color: #00b300;
  border-bottom: 1px solid #00b300;
  background-color: #fff;
  display: block;
  line-height: 22px;
  padding: 11px 4px;
}

.avonaki li:hover > a {
 color: #ffffff;
 border-bottom: 2px solid #ffffff;
 background-color: #00b300;

}

.avonaki li:active > a {
 color: #ffffff;
 border-bottom: 2px solid #ffffff;
 background-color: #00b300;
}

.fstylee{
  color: #ffffff;
  font-weight: 300;
}

.fstyler{
  color: #ffffff;
  font-weight: 900;
  font-size: 45px;
}

.bigbtn{
  color: black;
  font-weight: 300;
  font-size: 25px;
  background-color: #ffffff;
  border-radius: 20px;
}

.bigbtn:hover{
  color: black;
  font-weight: 300;
  font-size: 25px;
  background-color: #fafafa;
  border-radius: 20px;
}

.bigbtn:active{
  color: black;
  font-weight: 300;
  font-size: 25px;
  background-color: #ffffff;
  border-radius: 20px;
}

.bigbtnc{
  color: white;
  font-weight: 300;
  font-size: 25px;
  background-color: #42ade7;
  border-radius: 20px;
}

.bigbtnc:hover{
  color: white;
  font-weight: 300;
  font-size: 25px;
  background-color: #1aa8ea;
  border-radius: 20px;
}

.bigbtnc:active{
  color: white;
  font-weight: 300;
  font-size: 25px;
  background-color: #1aa8ea;
  border-radius: 20px;
}

.adukudus{
  margin-top: 100px;
}

.abtsev{
  font-weight: 300;
  color: white;
  font-size: 30px;
}

.akonso{
  font-weight: 900; 
  font-size: 35px;
}

.thewhy{
  background-color: white;
  padding: 50px;
}

.adosinis{
  font-weight: 700;
  font-size: 27px;
}

.onelife{
  padding: 30px;
  background-color: #fefefe;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.wyd{
  font-family: 'Baloo Bhaina', cursive;
  color: #42ade7;
  font-size: 40px;
}

.incentives{
  background-color: #42ade7;
  padding: 50px;
}

.wyder{
  font-family: 'Baloo Bhaina', cursive;
  color: #ffffff;
  font-size: 40px;
}

.calltobuy{
  background-color: #009900;
  padding: 50px;
}

.buymecontact{
  font-weight: 700;
}

.akosop{
  background-color: #ffffff;
  color: #00b300;
  font-weight: 700;
  padding: 10px;
}

.ycw{
	color: black;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
}

.ayoo{
  background-color: #f50872;
  color: white;
  position: relative;
  float: right;
}

.ayoo:hover{
  background-color: #f50872;
  color: white;
}

.ayoo:active{
  background-color: #f50872;
  color: white;
}

.abtws{
  color: black;
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
}

.formholdre{
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.akosop{
  background-color: #ffffff;
  color: #00b300;
  font-weight: 500;
  font-size: 22px;
  padding: 7px;
}

 .logomenu{
    height: 100%;
    margin-left: 0px;
   }


.constraq{
  color: #fff;
  font-weight: 700;
  font-size: 27px;
}

.constarc{
  color: #fff;
  font-weight: 300;
  font-size: 17px;
}

.dosentact{
  color: black;
  font-size: 15px;
  background-color: #fff;
  font-weight: 700;
}

.dosentact:hover{
  color: black;
  font-size: 15px;
  background-color: #fff;
}

.dosentact:active{
  color: black;
  font-size: 15px;
  background-color: #fff;
}

.textjus{
  text-align: justify;
}

.deez{
   
    margin-top: 50px;
}

   .contactinfo{
 
  margin-bottom: 40px;
}

.fstylee{
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
}

.akonso{
  font-weight: 900; 
  font-size: 20px;
}

.fstyler{
  color: #ffffff;
  font-weight: 900;
  font-size: 22px;
}

.bigibtn{
  color: black;
  font-weight: 300;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 20px;
}


.bigibtn:hover{
  color: black;
  font-weight: 300;
  font-size: 15px;
  background-color: #fafafa;
  border-radius: 20px;
}

.bigibtn:active{
  color: black;
  font-weight: 300;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 20px;
}

.bigbtnc{
  color: white;
  font-weight: 300;
  font-size: 15px;
  background-color: #42ade7;
  border-radius: 20px;
}

.bigbtnc:hover{
  color: white;
  font-weight: 300;
  font-size: 15px;
  background-color: #1aa8ea;
  border-radius: 20px;
}

.bigbtnc:active{
  color: white;
  font-weight: 300;
  font-size: 15px;
  background-color: #1aa8ea;
  border-radius: 20px;
}

.adukudus{
  margin-top: 80px;
}

.abtsev{
  font-weight: 300;
  color: white;
  font-size: 15px;
}

.thewhy{
  background-color: white;
  padding: 15px;
}

.adosinis{
  font-weight: 700;
  font-size: 16px;
}

.onelife{
  padding: 30px;
  margin-bottom: 15px;
  background-color: #fefefe;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.wyd{
  font-family: 'Baloo Bhaina', cursive;
  color: #42ade7;
  font-size: 32px;
}

.incentives{
  background-color: #42ade7;
  padding: 15px;
}

.wyder{
  font-family: 'Baloo Bhaina', cursive;
  color: #ffffff;
  font-size: 25px;
}

.calltobuy{
  background-color: #009900;
  padding: 15px;
}

.buymecontact{
  font-weight: 400;
  font-size: 25px;
}

.srse{
  font-size: 18px;
}

}

@media only screen and (min-width : 601px) and (max-width : 992px) {

 .logomenu{
    height: 100%;
    margin-left: 0px;
   }

   .contactinfo{
  margin-bottom: 40px;
}

   .deez{
    margin-top: 50px;
}


.constraq{
  color: #fff;
  font-weight: 700;
  font-size: 27px;
}

.constarc{
  color: #fff;
  font-weight: 300;
  font-size: 17px;
}

.dosentact{
  color: black;
  font-size: 15px;
  background-color: #fff;
  font-weight: 700;
}

.dosentact:hover{
  color: black;
  font-size: 15px;
  background-color: #fff;
}

.dosentact:active{
  color: black;
  font-size: 15px;
  background-color: #fff;
}

.bigibtn{
  color: black;
  font-weight: 300;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 20px;
}


.bigibtn:hover{
  color: black;
  font-weight: 300;
  font-size: 15px;
  background-color: #fafafa;
  border-radius: 20px;
}

.bigibtn:active{
  color: black;
  font-weight: 300;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 20px;
}



}


</style>


<body>
<section class="oluwamatic">
<nav>
    <div class="nav-wrapper" style="">
      <a href="/" class="brand-logo  hide-on-med-and-down"><img src="logo117.png" class="logomenu" ></a>
<a href="/" class="brand-logo  hide-on-large-only"><img src="logo117.png" class="logomenu" ></a>
      <ul class="right hide-on-med-and-down gateman">
        <li><a  class="navhov oclass navhovactive btn getyouremail" style="text-transform: uppercase;">Get a Website!</a></li>
      </ul>
      
    </div>
  </nav>
          
      <div class="row">
        <div class="container">
          <div class="col s12">
      <div class="adukudus"> 
      	<br>
        <h5 class='center-align fstylee'>Get a free <strong>website</strong> for your company!</h5>
       <h3 class="center-align fstyler"> Every Company needs a Website.</h3>
       <h3 class="center-align"><a class="btn btn-large bigbtn hide-on-med-and-down getyouremail">Get Yours for free!</a></h3>
       <h3 class="center-align"><a class="btn btn-large bigibtn hide-on-large-only getyouremail">Get one Now!</a></h3>
       <p class="center-align abtsev"> Stand a chance to be selected amongst three companies who will receive a 
brand new 7 page website from Us. </p> 
       <p style="color: white;" class="center-align lmhold">Read More
        <i class="material-icons" style="position:relative; top: 27px; right: 50px;">keyboard_arrow_down</i></p>
      </div>
           </div>
         </div>
       </div>
    </section>
    <section class="thewhy">
      <div class="row">
       <h4 class="center-align wyd">How do you stand a chance of winning??</h4>
       <p class="ycw"> Click here and tell us in four simple sentences why you need a website. Make it brief and compelling.<br> Also add your
       	name and email address so we can reach back at you. <strong>You too can win!</strong></p>
       <br>
       <p class="center-align ycw"><strong>Here are websites we have built for our clients.</strong></p>
          <div class="col s12 m12 l4">
            
             
     <p class="center-align"><img src="lacollage.jpg" class="responsive-img onelife" width="400px" height="350px"></p>
           <br>
           <p class="left-align abtws"><a href="http://legonanalytics.com/"><strong>legon Analytics</strong></a>
           <br>
           Legon Analytics is a team statisticians, actuaries, and enterprise risk analysts with extensive experience in the application of statistical methods to business applications.
           </p> 
          </div>

          <div class="col s12 m12 l4">
            
     <p class="center-align"><img src="nikasemocollage.jpg" class="responsive-img onelife" width="400px" height="350px"></p>
            <br>
           <p class="left-align abtws"><a href="https://nikasemo.com/"><strong>Nikasemo</strong></a>
           <br>
           Nikasemo is a web aplication that helps students of University of Ghana get access to educational materials based on their level, and the different courses they offer.
           </p>
          </div>

          <div class="col s12 m12 l4">
            
     <p class="center-align"><img src="syriacollage.jpg" class="responsive-img onelife" width="400px" height="350px"></p>
           <br>
           <p class="left-align abtws"><a href="http://syriatexghana.com/"><strong>Syriatex Ghana</strong></a>
           <br>
           Syriatex Ghana has stayed commited to bringing Ghanaians the best of home and office furnishing. They are commited to their mission providing the Ghanaian market with curtains, blinds, home and office furniture and so on.
           </p> 
          </div>
        
      </div>

      <h3 class="center-align"><a class="btn btn-large bigbtnc hide-on-med-and-down getyouremail" style="font-weight: 500;">Get Yours for free!</a></h3>
      <h3 class="center-align"><a class="btn btn-large bigbtnc hide-on-large-only getyouremail" style="font-weight: 500;">Get one Now!</a></h3>
    
    </section>

    <section class="incentives">
      <div class="row">
       
        <h4 class="center-align wyder">having a website alone is not enough</h4>
        <p class="center-align abtsev">The game changed! We will show you how to leverage other platforms to build your online brand!</p>
         <div class="col s12 m12 l4 offset-l4">
        <li class="left-align" style="color: white; margin-bottom: 15px;">how to use facebook ads to direct traffic to your website.</li>
        <li class="left-align" style="color: white; margin-bottom: 15px;">How to leverage instagram and facebook to build your online brand.</li>
        <li class="left-align" style="color: white; margin-bottom: 15px;">Email marketing.</li>
        <li class="left-align" style="color: white; margin-bottom: 15px;">Combining your facebook, instagram, twitter and website equity and deploying it against the physical world.</li>
      </div>
      </div>
      <h3 class="center-align"><a class="btn btn-large bigbtn hide-on-med-and-down getyouremail" style="font-weight: 500;">Get Yours for free!</a></h3>
      <h3 class="center-align"><a class="btn btn-large bigibtn hide-on-large-only getyouremail" style="font-weight: 500;">Get one Now!</a></h3>
    </section>

     <div class="row custtestimon second">
    <div class="container">
      <h4 class="center-align" style="font-weight: 300;">Enter you name and email and tell us why you deserve a brand new website.</h4>
      <br>
    
     <%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Your Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "Your email" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :why, "Why do you deserve a free website?" %><br>
    <%= f.text_area :why, :class => "materialize-textarea" %>
  </div>
  <div class="actions">
    <button type="submit" class="btn ayoo">Send<i class="material-icons right">send</i></button>
  </div>
<% end %>
</div>
    
  </div>

  







<script type="text/javascript" src="jquery.js"></script>
      <script type="text/javascript" src="materialize.js"></script>

       <script type="text/javascript">
        $(".getyouremail").click(function() {
        $('html,body').animate({
        scrollTop: $(".second").offset().top},
        'slow');
});
      </script>
        
        <script type="text/javascript">
         $(".button-collapse").sideNav();
         $('.slider').slider({full_width: true});
        </script>
    </body>
    </html>